.topSection {
    background: var(--dark-blue);
    display: flex ;
    justify-content:flex-start;
}

.container {
    width: 25rem;
    padding: 3rem;
    padding-left: 6rem;
    box-sizing: border-box;
}

.container p {
    color: var(--gray-100);
    margin-bottom: 1rem;
    line-height: 1.6;
    width: 100%;

}

.links {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}
.links a {
    text-decoration: none;
    color: var(--gray-100);
    background: var(--green-300);
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 1rem;
}

.button {
    color: var(--gray-100);
    background: var(--green-300);
    border-radius: 60px;
    padding: 6px 25px;
    font-size: 0.85rem;
    border: none;
}