.topSection {
    background: var(--dark-blue);
    display: flex ;
    justify-content:flex-start;
}

.container {
    width: 25rem;
    padding: 3rem;
    padding-left: 6rem;
    box-sizing: border-box;
}

.container p {
    color: var(--gray-100);
    margin-bottom: 1rem;
    line-height: 1.6;
    width: 100%;

}

.links {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}
