.container {
    background: var(--400);
    color: var(--90);
    width: 100%;
    border-radius: 15px;
    height: 100%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.post{
    padding: .2rem;
    border-bottom: var(--200) solid 1px;
}

.postInfo{
    padding: .2rem;
    display: flex;
    justify-content: space-between;
}

.postAuthor{
    padding: .2rem;
    display: flex;
    gap: .5rem;
}
.authorInfo{
    padding: .2rem;
    display: flex;
    flex-direction: column;
}

.time {
    padding: .2rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.postContent {
    padding: .2rem;
    display: flex;
    flex-direction: column;
}

.postContent p{
    line-height: 1.6;
    margin-top: .5rem;
    color: var(--100);
    font-size: 0.95rem;
}

.postContent a{
    line-height: 1.6;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--80);
    margin-bottom: 0.5rem;
    font-size: 0.95rem;

}
