.profileImgWithBorder{
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border: solid 2px var(--200);
    outline: solid 2px var(--100);
}

.profileImg{
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    margin-top: 4px;
}